<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <!-- ################################################################################################ -->
            <h1>
                <a href="/"><img src="/raw_frontend/images/logo.png" alt="Logo" /></a>
            </h1>
            <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right">
            <!-- ################################################################################################ -->
            <ul class="clear">
                <li class="active nav-item"><a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a></li>
                <li class="nav-item"><a href="/cart">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Cart
                    </a></li>
                <li class="nav-item">
                    <a class="drop" href="#">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        Categories
                    </a>
                    <ul>
                        <li>
                            <a class="drop" href="#">
                                IT
                            </a>
                            <ul>
                                {{#each listCategories}}
                                <li>
                                    <a href="/course/byCat/{{ID_CATE}}">
                                        <i class="fa fa-code" aria-hidden="true"></i>
                                        {{CATENAME}}
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                    </ul>
                </li>
                {{#if isLogin}}
                <li>
                    <a class="drop" href="#">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        Account
                    </a>
                    <ul>
                        <li>
                            <a href="/account/profile">
                                <i class="fa fa-user-secret" aria-hidden="true"></i>
                                {{loggedinUser.FULLNAME}}
                            </a>
                        </li>

                        {{#if isAdmin}}
                        <li>
                            <a href="#">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                Management
                            </a>
                        </li>
                        {{else}}
                        <li>
                            <a href="/my-course/">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                My courses
                            </a>
                        </li>

                        {{#if isStudent}}
                        <li>
                            <a href="/wishlist/">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                Wish list
                            </a>
                        </li>
                        {{/if}}

                        {{/if}}

                        <li>
                            <a href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                Notifications
                            </a>
                        </li>

                        <form id="formLogout" action="/account/logout" method="POST"></form>
                        <li>
                            <a href="javascript: $('#formLogout').submit();">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Log out
                            </a>
                        </li>
                        {{!-- <li><a href="/raw_frontend/pages/gallery.html">Gallery</a></li>
                        <li><a href="/raw_frontend/pages/full-width.html">Full Width</a></li>
                        <li><a href="/raw_frontend/pages/sidebar-left.html">Sidebar Left</a></li>
                        <li><a href="/raw_frontend/pages/sidebar-right.html">Sidebar Right</a></li> --}}
                    </ul>
                </li>

                {{else}}

                {{/if}}
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
</div>
