{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.4/css/fileinput.min.css">

<style>
    .kv-avatar .krajee-default.file-preview-frame,
    .kv-avatar .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
        align-items: center;
    }

    .kv-avatar {
        display: inline-block;
    }

    .kv-avatar .file-input {
        display: table-cell;
        width: 213px;
    }

    .kv-reqd {
        color: red;
        font-family: monospace;
        font-weight: normal;
    }
</style>
{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.4/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.4/themes/fa/theme.min.js"></script>

<script>
    var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' +
        'onclick="alert(\'Call your custom code here.\')">' +
        '<i class="glyphicon glyphicon-tag"></i>' +
        '</button>';
    $("#avatar").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        showBrowse: false,
        browseOnZoneClick: true,
        removeLabel: '',
        removeIcon: '<i class="fa fa-trash" aria-hidden="true"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-2',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/resources/images/accounts/{{userdata.ID_USER}}.png" alt="Course Image"><h6 class="text-muted">Click to select</h6>',
        layoutTemplates: { main2: '{preview} ' + ' {remove} {browse}' },
        allowedFileExtensions: ["jpg", "png"]
    });
</script>

<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#FullDes',
        height: 600,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });
</script>

<script>
    $('#formRegister').on('submit', function (e) {
        e.preventDefault();

        if ($('#txtUsername').val().length === 0) {
            alert("invalid username");
            return;
        }

        const username = $('#txtUsername').val();

        $.getJSON(`/account/is-available?user=${username}`, function (data) {
            if (data === false) {
                //off event on in first line
                //alert("real submit");
                $('#formRegister').off('submit').submit();
            }
            else {
                alert("existed username");
            }
        })
    });

    $('#txtDOB').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
    });

</script>
{{/section}}

<main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first align-content-center">
        <!-- ################################################################################################ -->
        <h2>New course
        </h2>
        <form action="" method="post" id="fromChangeAva" enctype="multipart/form-data">

            <div class="sdb_holder align-items-center">
                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="avatar" name="avatar" type="file" required>
                    </div>
                </div>


                <div class="sdb_holder ">
                    <button class="btn btn-outline-primary" type="submit" formaction="/my-course/changeimage">
                        Change Image
                    </button>
                </div>
            </div>
        </form>
        <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <form action="" method="post">
        <div class="content three_quarter">
            <!-- ################################################################################################ -->
            <div class="card">
                <div class="card-header">
                    Account
                </div>
                <div class="card-body">
                    {{#if err_message}}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{err_message}}
                    </div>
                    {{/if}}

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Category</label>
                        </div>
                        <select class="custom-select" name="ID_CATE" id="inputGroupSelect01">
                            {{#each categories}}
                            <option value="{{ID_CATE}}">{{CATENAME}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="hidden" class="form-control" id="txtUserID" value="{{user.ID_USER}}" name="ID_USER"
                            readonly required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" na for="isDone">Is This course Finish?</label>
                        </div>
                        <select class="custom-select" name="DONE" id="isDone">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="txtName">Course Name</label>
                        <input type="text" class="form-control" id="txtName" name="COURSENAME" required>
                    </div>
                    <div class="form-group">
                        <label for="txtlength">Length (Hours)</label>
                        <input type="number" class="form-control" id="txtlength" name="COURSELENGTH">
                    </div>
                    <div class="form-group">
                        <label for="txtDOB">Create date</label>
                        <input type="text" class="form-control" value="{{today}}" readonly id="txtDOB" name="CREATEDATE"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="txtPrice">Price</label>
                        <input type="number" class="form-control" id="txtPrice" name="PRICE">
                    </div>
                    <div class="form-group">
                        <label for="txtDiscount">Discount (%)</label>
                        <input type="number" class="form-control" value="0" id="txtDiscount" name="DISCOUNT">
                    </div>
                    <div class="form-group">
                        <label for="txtShortDes">Short Discription</label>
                        <input type="text" class="form-control" id="txtShortDes" name="SHORTDES" required>
                    </div>
                    <div class="form-group">
                        <label for="FullDes">Full Description</label>
                        <textarea type="text" class="form-control" name="DESCRIPTION" id="FullDes" cols="30"
                            rows="20"></textarea>
                    </div>


                </div>
                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-outline-success" formaction="/my-course/add">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Update Profile
                    </button>
                </div>
            </div>
            <!-- ################################################################################################ -->
        </div>
    </form>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
</main>