<!-- ################################################################################################ -->
<!-- ==================================================KHOA HOC TIEU BIEU======================================== -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <div class="container">
        <div>
            <div class="welcome">
                <h2 class="leading">Popular courses</h2>
            </div>
            <hr class="hr-udemy">
            <div class="carousel-container">
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container">
                                {{#each this.items}}
                                <div class="col-sm-4 mb-3" style="margin: 20px 0;">
                                    <div class="card h-100">
                                        <img src="/resources/images/courses/{{course.ID_COURSE}}/{{course.ID_COURSE}}_thumbnail.png"
                                            class="card-img-top" alt="{{course.COURSENAME}}"
                                            title="{{course.COURSENAME}}" style="width: 100%; height: 40%">
                                        <div class="card-body">
                                            <h5 class="card-title">{{course.COURSENAME}}</h5>
                                            <h6 class="card-title">Instructor: {{instructor.FULLNAME}}
                                                {{#if isFinished}}
                                                <span class="text-success">(Finished)</span>
                                                {{else}}
                                                <span class="text-danger">(Unfinished)</span>
                                                {{/if}}
                                            </h6>
                                            {{#if isDiscount}}
                                            <h6 class="card-title"><del>{{format course.PRICE}} VND</del></h6>
                                            <h5 class="card-title text-danger">{{format realPrice}} VND</h5>
                                            {{else}}
                                            <h5 class="card-title text-danger">{{format realPrice}} VND</h5>
                                            {{/if}}
                                            <p class="card-text">{{course.SHORTDES}}</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <a href="/course/detail/{{course.ID_COURSE}}"
                                                class="btn btn-outline-primary">
                                                <i class="fa fa-list-ol" aria-hidden="true"></i>
                                                Detail
                                            </a>

                                            {{#if ../isStudent}}

                                            <a data-productid="{{course.ID_COURSE}}" href="#"
                                                class="btn btn-outline-success addToCartButton">
                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                Add to cart
                                            </a>

                                            <a data-productid="{{course.ID_COURSE}}" href="#"
                                                class="btn btn-outline-danger addToWishlist">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        {{!-- <div class="item">
                            <div class="container">
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="container">
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">

                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    </div>


                    <!-- Left and right controls -->
                    <a class=" carousel-control" href="#myCarousel1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left  udemy-control udemy-left "></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class=" carousel-control " href="#myCarousel1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right udemy-control udemy-right "></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section class="category">

        <h2 style="text-align: center; margin-bottom: 20px;">Featured topics</h2>
        <hr class="hr-udemy">
        <!-- Wrapper for slides -->

        <div class="hot-category">
            {{#each cates}}
            <a href="/course/byCat/{{ID_CATE}}"> {{CATENAME}}</a>

            {{/each}}
        </div>
</div>
</section>
</div>

<!-- ################################################################################################ -->
<!-- ===========================KHOA HOC DUOC XEM NHIEU NHAT + KHOA HOC MOI NHAT + LINH VUC PHO BIEN===================== -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <div class="container" style="margin-top: 0; padding-top: 0">
        <section class="category first">
            <h2 style="text-align: center">Latest</h2>
            <div class="carousel-container">
                <div id="myCarousel4" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container">
                                {{#each this.items2}}
                                <div class="col-sm-4 mb-3" style="margin: 20px 0;">
                                    <div class="card h-100">
                                        <img src="/resources/images/courses/{{course.ID_COURSE}}/{{course.ID_COURSE}}_thumbnail.png"
                                            class="card-img-top" alt="{{course.COURSENAME}}"
                                            title="{{course.COURSENAME}}" style="width: 100%; height: 40%">
                                        <div class="card-body">
                                            <h5 class="card-title">{{course.COURSENAME}}</h5>
                                            <h6 class="card-title">Instructor: {{instructor.FULLNAME}}
                                                {{#if isFinished}}
                                                <span class="text-success">(Finished)</span>
                                                {{else}}
                                                <span class="text-danger">(Unfinished)</span>
                                                {{/if}}
                                            </h6>
                                            {{#if isDiscount}}
                                            <h6 class="card-title"><del>{{format course.PRICE}} VND</del></h6>
                                            <h5 class="card-title text-danger">{{format realPrice}} VND</h5>
                                            {{else}}
                                            <h5 class="card-title text-danger">{{format realPrice}} VND</h5>
                                            {{/if}}
                                            <p class="card-text">{{course.SHORTDES}}</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <a href="/course/detail/{{course.ID_COURSE}}"
                                                class="btn btn-outline-primary">
                                                <i class="fa fa-list-ol" aria-hidden="true"></i>
                                                Detail
                                            </a>

                                            {{#if ../isStudent}}

                                            <a data-productid="{{course.ID_COURSE}}" href="#"
                                                class="btn btn-outline-success addToCartButton">
                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                Add to cart
                                            </a>

                                            <a data-productid="{{course.ID_COURSE}}" href="#"
                                                class="btn btn-outline-danger addToWishlist">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class=" carousel-control" href="#myCarousel4" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left  udemy-control udemy-left "></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class=" carousel-control " href="#myCarousel4" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right udemy-control udemy-right "></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>

        {{!-- <section class="category">
            <h2 style="text-align: center">Latest Courses</h2>
            <div class="carousel-container">
                <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container">
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="container">
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="container">
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 25rem">
                                    <img src="/raw_frontend/images/placeholders/placeholder1.jpg" class="card-img-top"
                                        alt="Los Angeles" />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class=" carousel-control" href="#myCarousel2" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left  udemy-control udemy-left "></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class=" carousel-control " href="#myCarousel2" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right udemy-control udemy-right "></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section> --}}
    </div>
</div>

<!-- ################################################################################################ -->
<!-- =======================MUA KHOA HOC + GIOI THIEU CHI PHI======================================== -->
<!-- ################################################################################################ -->

<!-- <div class="wrapper row2">
     <div class="container">
        <section class="hoc container clear">

          <div class="sectiontitle">
          <h6 class="heading">Sagittis lacus neque ut lorem integer</h6>
          <p>Elementum nisi ac volutpat vestibulum enim mi tincidunt eros</p>
        </div>
        <ul class="nospace group prices">
          <li class="one_third">
            <article>
              <i class="fas fa-deaf red"></i>
              <h6 class="heading">Condimentum</h6>
              <p>
                Sed porttitor justo magna odio sed lacus nunc consequat sem vel
                metus imperdiet lacinia suspendisse aliquet mi sed
              </p>
              <p><sup>&euro;</sup><strong>80</strong><em>pcm</em></p>
              <footer><a class="btn" href="#">Details</a></footer>
            </article>
          </li>
          <li class="one_third">
            <article>
              <i class="fas fa-dolly green"></i>
              <h6 class="heading">Suscipit</h6>
              <p>
                Justo in tortor quis dui in purus pede luctus eget condimentum
                ac bibendum in justo nam condimentum congue risus
              </p>
              <p><sup>&euro;</sup><strong>100</strong><em>pcm</em></p>
              <footer><a class="btn" href="#">Details</a></footer>
            </article>
          </li>
          <li class="one_third">
            <article>
              <i class="fas fa-hands blue"></i>
              <h6 class="heading">Dignissim</h6>
              <p>
                Aliquam auctor nisl nec diam ornare nam molestie massa quis pede
                vestibulum fringilla risus in metus nullam egestas
              </p>
              <p><sup>&euro;</sup><strong>125</strong><em>pcm</em></p>
              <footer><a class="btn" href="#">Details</a></footer>
            </article>
          </li>
        </ul>
        </section>
      </div>
    </div> -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->