{{#section 'js'}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
    $(function () {

        $("#rateYo").rateYo({
            starWidth: "20px",
            halfStar: true
        });
    });
</script>
<script>
    $('#rateYo').ready(function () {
        const score = $(this).data('ratescore');
        //$("#rateYo").rateYo("option", "rating", score);
    })
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="../../../raw_frontend/layout/styles/detail.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{{/section}}


{{#with product}}
<div class="container" style="font-size: 16px;">
    <div class="course-detail">
        <h2>{{COURSENAME}}</h2>
        <div class="card-body">
            <div class="brief">
                <div class="img-wrapper"><img src="/resources/images/courses/{{ID_COURSE}}/{{ID_COURSE}}_main.png"
                        alt="{{COURSENAME}}" title="{{COURSENAME}}"></div>

                <div style="margin-right: 20px;">
                    <p class="card-text" id="txt">Lastest update: {{LASTUPDATE}}</p>

                    <div data-ratescore="3" id="rateYo"></div>

                    {{#if ../isDiscount}}
                    <p class="card-text"><span class="text"><del>{{format PRICE}} VND</del></span></p>
                    <p class="card-text">Price: <span class="text-danger">{{format ../realPrice}} VND</span></p>
                    {{else}}
                    <p class="card-text">Price: <span class="text-danger">{{format PRICE VND}}</span></p>
                    {{/if}}
                    <p class="card-text">{{SHORTDES}}</p>

                    {{#if ../isLogin}}
                    {{#if ../isBought}}
                    <div class="input-group-append">
                        <a href="../lesson/{{ID_COURSE}}">
                            <button class="btn btn-primary">
                                <i class="fas fa-list" aria-hidden="true"></i>
                                Learn!
                            </button>
                        </a>
                    </div>

                    {{else}}

                    {{#if ../isInstructor}}
                    <div class="input-group mb-3">
                        <input type="hidden" value="{{ID_COURSE}}" name="ID_COURSE">

                        <a name="" id="" class="btn btn-outline-primary ml-2" href="/my-course/edit/{{ID_COURSE}}"
                            role="button">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edit
                        </a>

                        <a name="" id="" class="btn btn-outline-primary ml-2" href="/my-course/edit/{{ID_COURSE}}"
                            role="button">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edit
                        </a>

                    </div>
                    {{else}}
                    <form action="/cart/add" method="POST">
                        <div class="input-group mb-3">
                            <input type="hidden" value="{{ID_COURSE}}" name="ID_COURSE">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    Add to cart
                                </button>
                            </div>
                            <a name="" id="" class="btn btn-outline-primary ml-2" href="/course/lesson/{{ID_COURSE}}"
                                role="button">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                Preview
                            </a>
                        </div>
                    </form>
                    {{/if}}

                    {{/if}}
                    {{else}}
                    <a name="" id="" class="btn btn-outline-primary ml-2" href="/course/lesson/{{ID_COURSE}}"
                        role="button">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Preview
                    </a>
                    {{/if}}
                </div>

            </div>
            {{{DESCRIPTION}}}
        </div>

        <div class="instructor">
            <div><img src="/resources/images/accounts/{{../instructor.ID_USER}}.png" alt="{{../instructor.FULLNAME}}"
                    title="{{../instructor.FULLNAME}}"></div>
            <div style="margin-left: 20px;">
                <p class="card-text">Instructor: {{../instructor.FULLNAME}}</p>
                <p class="card-text">Bio: {{../instructor.PROFILE}}</p>
            </div>

        </div>

        <div style="margin-top: 24px;">
            <h2>Reviews</h2>
            {{#each ../feedbackdata}}
            <div class="comment">
                <img src="/resources/images/accounts/{{user.ID_USER}}.png" alt="{{user.FULLNAME}}">
                <div style="margin-left: 20px;">
                    <h4>{{user.FULLNAME}}</h4>
                    <div><strong>Rating: {{feedback.RATE}}/5</strong> <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div>{{feedback.FEEDBACK}}</div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="feedback-wrapper">
            <h2>Write Your Feedback</h2>
            <form action="/course/feedback" method="post">
                <input type="text" value="Course ID: {{ID_COURSE}}" name="ID_COURSE" disabled>
                <div style="margin: 20px 0;">
                    <span>Your rating: </span>
                    <input type="range" name="RATE" id="inputrating" aria-valuemax="5" aria-valuemin="1"
                        aria-valuenow="5" value="5" aria-valuetext="rate">
                </div>
                <div class="block clear">
                    <label for="FEEDBACKK">How do you think?</label>
                    <textarea name="FEEDBAKK" id="FEEDBAKK" style="width: 100%;" rows="5"></textarea>
                </div>
                <div>
                    <input type="submit" name="submit" value="Submit Feedback">
                    &nbsp;
                    <input type="reset" name="reset" value="Clear">
                </div>
            </form>
        </div>
    </div>
</div>
{{/with}}