{{#section 'js'}}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
{{/section}}

<div class="wrapper row3">
    <main class="hoc container clear">

        <!-- ################################################################################################ -->
        <div>
            <video width="100%" height="500" controls>
                <source src="/resources/videos/{{courseid}}/{{playlesson.LESSONNAME}}" type="video/mp4">
            </video>
        </div>
        <div>
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th class="block" style="width:auto">ID</th>
                        <th>LESSON NAME</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each lessons}}
                    <tr>
                        <td class="block">1</td>
                        {{#if REVIEW}}

                        <td><a href="/course/lesson/{{ID_COURSE}}?lessonid={{ID_DETAIL}}">{{LESSONNAME}}</a></td>
                        {{else}}
                        {{#if ../isBought}}
                        <td><a href="/course/lesson/{{ID_COURSE}}?lessonid={{ID_DETAIL}}">{{LESSONNAME}}</a></td>
                        {{else}}
                        <td>{{LESSONNAME}}</td>
                        {{/if}}

                        {{/if}}

                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        {{#if canEdit}}
        <form action="" method="POST" enctype="multipart/form-data">
            <div style="margin-top: 20px;">
                <div>
                    <div class="card-header ">
                        <strong>
                            Add Lesson
                        </strong>
                    </div>
                    <div class="file-loading">
                        <input id="lessonvideo" name="lessonvideo" required type="file" class="file"
                            data-allowed-file-extensions='["mp4"]'>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="hidden" value="{{courseid}}" name="ID_COURSE">
                    {{!-- <input type="text" class="form-control" placeholder="Lesson's Name" aria-label="New Lesson"
                        name="LESSONNAME" id="LESSONNAME" aria-describedby="basic-addon2"> --}}
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Preview</label>
                    </div>
                    <select class="custom-select" name="REVIEW" id="inputGroupSelect01">
                        <option value="0" selected>Yes</option>
                        <option value="1">No</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit"
                            formaction="/course/lesson/add?id={{playlesson.ID_COURSE}}">
                            Add Lesson
                        </button>
                    </div>
                </div>
            </div>
        </form>
        {{/if}}
    </main>
</div>