{{#section 'js'}}
<script>
  $('.addToCartButton').on('click', function () {
    const id = $(this).data('productid');
    //console.log(id);
    $('#txtProid').val(id);
    $('#formAddToCart').submit();
  })
</script>
<script>
  $('.addToWishlist').on('click', function () {
    const id = $(this).data('productid');
    //console.log(id);
    $('#txtIdToWishList').val(id);
    $('#formAddToWishList').submit();
  })
</script>
{{/section}}

<style>
  .dropbtn {
    background-color: #1D8B94;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #1D8B94;
  }
</style>

<div class="container">
  <form action="/cart/add" method="POST" id="formAddToCart">
    <input type="hidden" name="ID_COURSE" id="txtProid">
  </form>
  <form action="/wishlist/add" method="post" id="formAddToWishList">
    <input type="hidden" name="ID_COURSE" id="txtIdToWishList">
  </form>

  <h2>{{CatName}}</h2>
  <div class="dropdown">
    <button class="dropbtn">Filter</button>
    <div class="dropdown-content">
      <a href="/search?ascend=1&searchstring={{CatName}}">
        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
        Name: A-Z
      </a>
      <a href="/search?descend=1&searchstring={{CatName}}">
        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
        Name: Z-A
      </a>
      <a href="/search?pricedescend=1&searchstring={{CatName}}">
        <i class="fa fa-money" aria-hidden="true"></i>
        Price: Low to high
      </a>
      <a href="/search?priceascend=1&searchstring={{CatName}}">
        <i class="fa fa-money" aria-hidden="true"></i>
        Price: High to low
      </a>
    </div>
  </div>

  <div class="card-body">
    {{#if this.isEmpty}}
    {{else}}
    <div class="row">
      {{#each this.items}}
      <div class="col-sm-4 mb-3" style="margin: 20px 0;">
        <div class="card h-100">
          <img src="/resources/images/courses/{{course.ID_COURSE}}/{{course.ID_COURSE}}_thumbnail.png"
            class="card-img-top" alt="{{course.COURSENAME}}" title="{{course.COURSENAME}}"
            style="width: 100%; height: 40%">
          <div class="card-body">
            <h5 class="card-title">{{course.COURSENAME}}</h5>
            <h6 class="card-title">Instructor: {{instructor.FULLNAME}}
              {{#if isFinished}}
              <span class="text-success">(Finished)</span>
              {{else}}
              <span class="text-danger">(Unfinished)</span>
              {{/if}}
            </h6>
            {{#if isDiscount}}
            <h6 class="card-title"><del>{{format course.PRICE}} VND</del></h6>
            <h5 class="card-title text-danger">{{format realPrice}} VND</h5>
            {{else}}
            <h5 class="card-title text-danger">{{format realPrice}} VND</h5>
            {{/if}}
            <p class="card-text">{{course.SHORTDES}}</p>
          </div>
          <div class="card-footer text-muted">
            <a href="/course/detail/{{course.ID_COURSE}}" class="btn btn-outline-primary">
              <i class="fa fa-list-ol" aria-hidden="true"></i>
              Detail
            </a>

            {{#if ../isStudent}}

            <a data-productid="{{course.ID_COURSE}}" href="#" class="btn btn-outline-success addToCartButton">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
              Add to cart
            </a>

            <a data-productid="{{course.ID_COURSE}}" href="#" class="btn btn-outline-danger addToWishlist">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </a>

            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
